@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: 60vh;
}
.header {
  display: flex;
  background-color: #bd1e51;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media (max-width: 1022px) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
}

.main-logo h1 span {
  color: #f1b814;
}
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
  margin-left: 20%;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #490b3d;
  text-transform: uppercase;
}
.nav-links a:hover {
  background-color: #f1b814;
  border-radius: 100vh;
  transition-timing-function: linear;
  transition: 0.4s;
  color: aliceblue;
}
.main-signup {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: lowercase;
  padding: 10px 20px;
  color: #490b3d;
  cursor: pointer;
  background-color: #f1b814;
}
.main-signup:hover {
  background-color: #f0c440;
}
.main-info {
  background: #f1b814;
  background-image: url("/images/main.jpg");

  padding: 12rem;
  background-origin: border-box;
  text-align: center;
}
.main-text {
  font-size: 1.8rem;
  padding: 3rem;
}
.main-text p {
}
